<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Auto360</title>
        {% else %}
        <title>Welcome to Auto360</title>
        {% endif %}
    </head>
    <body>
        <div>
            Auto360:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            {% if current_user.role == 'Admin' %}
            <a href="{{ url_for('create_user') }}">Crear Usuario</a>
            <a href="{{ url_for('user_list') }}">Ver Todos los Usuarios</a>
            {% endif %}
            <a href="{{ url_for('user', userid=current_user.user_id) }}">Mi Perfil</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>