{% extends "base.html" %}

{% block content %}
    <h1>Editar Auto</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.brand.label }}<br>
            {{ form.brand(size=32) }}<br>
            {% for error in form.brand.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.model.label }}<br>
            {{ form.model(size=32) }}<br>
            {% for error in form.model.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.version.label }}<br>
            {{ form.version(size=32) }}<br>
            {% for error in form.version.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.year.label }}<br>
            {{ form.year(size=12) }}<br>
            {% for error in form.year.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ppu.label }}<br>
            {{ form.ppu(size=32) }}<br>
            {% for error in form.ppu.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.chasis.label }}<br>
            {{ form.chasis(size=32) }}<br>
            {% for error in form.chasis.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}