{% extends "base.html" %}

{% block content %}
    <h1>Cliente: {{ sale.client.client_name }} {{ sale.client.client_last_name }}</h1>
    <h1>Fono cliente: {{ sale.client.phone }}</h1>
    <h1>RUT cliente: {{ sale.client.rut }}</h1>
    <p><a href="{{ url_for('edit_client', client_id=sale.client.client_id) }}">Editar datos del Cliente</a></p>

    <h1>Marca: {{ sale.car.brand }}</h1>
    <h1>Modelo: {{ sale.car.model }}</h1>
    <h1>Versión: {{ sale.car.version }}</h1>
    <h1>Año: {{ sale.car.year }}</h1>
    <h1>PPU: {{ sale.car.ppu }}</h1>
    <h1>Chasis: {{ sale.car.chasis }}</h1>
    <p><a href="{{ url_for('edit_car', car_id=sale.car.car_id) }}">Editar datos del Auto</a></p>

    <h1>Color: {{ sale.car_color }}</h1>
    <h1>Kilometraje: {{ sale.mileage }}</h1>

    <h1>Fecha de Venta: {{ sale.sale_date }}</h1>
    <h1>DHV: {{ sale.dhv }}</h1>
    <h1>Semana: {{ sale.week }}</h1>
    <h1>Precio de Venta: {{ sale.sale_price }}</h1>
    <h1>Costo Real: {{ sale.real_cost }}</h1>
    <h1>Margen Real: {{ sale.real_margin }}</h1>
    <h1>Fuente: {{ sale.source }}</h1>
    <h1>Comisión Crédito: {{ sale.credit_commision }}</h1>
    <h1>Credito: {{ sale.credit }}</h1>
    <h1>Tarjeta: {{ sale.card }}</h1>
    <h1>Auto en Parte de Pago: {{ sale.car_as_payment }}</h1>



{% endblock %}