{% extends "base.html" %}

{% block content %}
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefono</th>
                <th scope="col">Rol</th>
                <th scope="col">Status</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.status }}</td>
                <td>
                    <a href="{{ url_for('admin_edit_user', userid = user.user_id) }}">Actualizar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}